{% load i18n static comments inkscape %}

<div class="moderation {% if object.target.moderation.is_deleted %} hidden {% elif object.target.moderation.is_approved %} approved {% endif %}">
  
  <div class="details">
    <div class="title">
      {% url 'view_profile' object.implicated.username as profile_url %}
      <a href="{{profile_url}}"><img class="userphoto" src="{% if object.implicated.photo %}{{ object.implicated.photo.url }}{% else %}{% static "images/photo.png" %}{% endif %}"/></a>
      <div>
        {% blocktrans trimmed with object.implicated.username as user_name and object.target.submit_date|timetag as creation_date and object.target.get_content_object_url as the_url and object.target.content_object.name as resource_name %}
          <a href="{{profile_url}}">{{user_name}}</a> wrote {{creation_date}} about <a href="{{ the_url }}">{{ resource_name }}</a>:
        {% endblocktrans %}
      </div>
    </div>
    <div class="index">
      <div class="moderationstatus">
        {% if object.target.moderation.is_deleted %}{% trans "deleted" %}
        {% elif object.target.moderation.is_approved %}{% trans "approved" %}
        {% else %}{% trans "public" %}
        {% endif %}
      </div>
    </div>
    <div class="flagcount">{{ object.count }}</div>
    <div title='{% trans "Flags" %}' class="flag {% if object.count > 0 %}flagged{% endif %}"></div>
  </div>
    
  <div class="body">
    <div class="text"><p>{{ object.target.comment|urlize|linebreaks }}</p></div>
  </div>
  
  {% if not object.target.moderation.is_deleted %}
  <div class="mfooter">
    <div class="buttonbar">  
        <a class="button" title='{% trans "Hide Comment" %}' href="{{ object.hide_url }}" >{% trans "Hide" %}</a>
        <script>popUpLink('{% trans "Are you sure you want to hide this comment?" %}', '{% trans "Cancel" %}', '{% trans "Hide" %}', "{{ resource.url }}");</script>   
        {% if not object.target.moderation.is_approved %}
          <a title='{% trans "Approve Comment" %}' class="button" href='{{ object.approve_url }}'>{% trans "Approve" %}</a>
          <script>popUpLink('{% trans "Are you sure you want to approve this comment?" %}', '{% trans "Cancel" %}', '{% trans "Approve" %}', '{{ resource.url }}');</script>
        {% endif %}
   </div>
  </div>
  {% endif %}
 
</div>
