{% extends "moderation/base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Welcome to the Moderators' Area!" %}</h1>
    <div class="warning">{% trans "Before you start out on your mission to make the Inkscape Website a friendly place, please review our <a href='/community/coc/'>Community Code of Conduct</a>." %}</div>

    {% for category in categories %}
     {% if category.targets.recent %}
      <h2>{{ category.label }}</h2>
      <span><a href="{{ category.targets.flag_url }}" >{% trans "See All Reports" %}</a></span>&nbsp;&nbsp;
      <span><a href="{{ category.targets.latest_url }}" >{% trans "See Latest Objects" %}</a></span>

      {% for object in category.targets.recent %}
        {% include category.template|default:"moderation/flag_item.html" %}
      {% endfor %}
     {% endif %}
   {% endfor %}
{% endblock %}

<!-- todo: breadcrumbs on subpages would be great -->
