{% extends 'resources/resource_base.html' %}
{% load i18n extras static %}

{% block "description" %}
 <form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% if object and not object.category and object.next %}
    <!--Item was drag and drop uploaded, so redirect to the next item edit screen-->
    <input type="hidden" name="next" value="{% url "edit_resource" object.next.pk %}"/>
  {% endif %}

  <div class="image upload">
    {% if form.download %}
      <div id="upload">{{ form.download|placeholder:_("Paste your text here") }}</div>
      {% if form.download.errors %}
        <div class="errors">{{ form.download.errors }}</div>
      {% endif %}
    {% endif %}
    {% if form.rendering %}
      <div id="rendering">{{ form.rendering }}</div>
      {% if form.rendering.errors %}
        <div class="errors">{{ form.rendering.errors }}</div>
      {% endif %}
    {% endif %}
  </div>

  <div class="info">
    <h2>{{ form.name|placeholder:_("Resource Name") }}
      {% if item and not form %}
        <span class="by">{% trans "by" %}
          <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>
        </span>
      {% endif %}
    </h2>
    <div class="desc{% if form.desc.errors %} descerr{% endif %}">
      {{ form.desc|placeholder:_("Description of your artwork or resource") }}
    </div>
    <div class="side">
      {% for field in form.auto %}
        <div id="{{ field.name }}_set">
          <h2 {% if field.errors %}class="error" title="{{ field.errors.as_text }}"{% endif %}>{{ field.label }}{% if field.field.required %} *{% endif %}</h2>
          {{ field }}
        </div>
      {% endfor %}
    </div>
  </div>

  <div id="item-footer" class="clearfix">
    {% if form.tags.errors %}
      <div class="error">{{ form.tags.errors.as_text }}</div>
    {% endif %}
    {{ form.tags|placeholder:_("Add your tags here, separated by comma") }}

    {% if object.published or not form.published %}
      <button type="submit" name="published" value="1" class="btn btn-default">{% trans "Save" %}</button>
      {% if form.published %}
        <button type="submit" name="published" value="" class="btn btn-danger">{% trans "Unpublish" %}</button>
      {% endif %}
    {% else %}
      <button type="submit" name="published" value="1" class="btn btn-default">{% trans "Publish" %}</button>
      <button type="submit" name="published" value="" class="btn btn-default">{% trans "Save Only" %}</button>
    {% endif %}
    </form>

    <form method="get" action="{{ cancel }}">
      <button type="submit" name="cancel" value="1" class="btn btn-default">{% trans "Cancel" %}</button>
    </form>

    {% if form.link_mode %}
      <button type="button" class="btn btn-warning" onclick="checkLink();">{% trans "Get Link Info" %}</button>
    {% endif %}
  </div>

  </div>
{% endblock %}

