{% extends 'base.html' %}
{% load i18n static extras svg %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/resource.css" %}"/>
{% endblock %}

{% block "js" %}{{ block.super }}
  <meta name="youtube-key" content="{{ form.youtube_key }}"/>
  <script type="text/javascript" src="{% static "js/resource.js" %}"></script>
  <script type="text/javascript" src="{% static "js/gallery.js" %}"></script>
{% endblock %}

{% block content %}
  {% if form and form.non_field_errors %}
    <div class="errors">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <div class="item{% if form %} edit{% endif %}{% if object and not object.published %} unpublished{% endif %}">
    {% if form %}
      <div class="image uploader">

        {% if form.download %}
        <label for="id_download">
          {% if object.mime.is_image %}
            <img src="{{ object.thumbnail_url }}" data-static="{% static "" %}"/>
            <p>{% trans "Replace image:" %} {{ object.filename }}</p>
          {% elif object and object.download %}
            <img src="{{ object.icon_url }}" data-static="{% static "" %}"/>
            <p>{% trans "Replace file:" %} {{ object.filename }}</p>
          {% else %}
            <img src="{% static "images/upload.svg" %}" data-static="{% static "" %}"/>
            <p>{% trans "Choose a file..." %}</p>
          {% endif %}
        </label>
        {% endif %}
        {% if form.link_mode %}
          <label for="id_rendering">
            <img src="{% static "images/link.svg" %}" alt="{% trans "Click to add screenshot or preview." %}"/>
            <p>{{ form.link.label }}</p>
          </label>
          <br/>{{ form.link|placeholder:_("Paste your URL here") }}
        {% elif form.rendering %}
          <label for="id_rendering">
            {% if object.rendering and object.is_resource %}
              <img src="{{ object.rendering.url }}" alt="{% trans "Click to change" %}">
              <p>{% trans "Replace visible image:" %} {{ object.rendering_name }}</p>
            {% else %}
              <img src="{% static "images/upload.svg" %}" alt="{% trans "Click to select file" %}">
              <p>{% trans "Choose visible image..." %}</p>
            {% endif %}
          </label>
        {% endif %}
      </div>
    {% endif %}

    {% if not form %}
      {% include "resources/resource_view.html" %}
    {% endif %}

    {% block "description" %}{% endblock %}
  </div>
{% endblock %}
