{% load i18n comments static inkscape %}

<div class="comment">
  <a name="c{{ comment.id }}"></a>
  <div class="details">
    <div class="title">
      {% url 'view_profile' comment.user.username as profile_url %}
      <a href="{{profile_url}}"><img class="userphoto" src="{% if comment.user.photo %}{{ comment.user.photo.url }}{% else %}{% static "images/photo.png" %}{% endif %}"/></a>
      <div>
        {% with comment.user|default:comment.user_name as user_name and comment.submit_date|timetag as comment_date and profile_url|default:comment.user_url as comment_url %}
          {% if comment_url %}
            {% blocktrans trimmed %}<a href="{{comment_url}}">{{user_name}}</a> wrote {{comment_date}}:{% endblocktrans %}
          {% else %}
            {% blocktrans trimmed %}[{{ user_name }}] wrote {{comment_date}}:{% endblocktrans %}
          {% endif %}
        {% endwith %}
      </div>
    </div>   
    <div class="index"><a href="{% get_comment_permalink comment %}">#{{ comment_counter }}</a></div>
    
    {% if comment.moderation and request.user.is_authenticated %}
      {% if comment.moderation.i_flagged %}
        <div title="{% trans "You have reported this comment" %}" class="flag flagged"></div>
      {% else %}
        <a title="{% trans "Report Comment" %}" class="flag" href="{{ comment.moderation.flag_url }}"></a>
        <script>popUpLink('{% trans "Are you sure you want to report this comment?" %}', '{% trans "Cancel" %}', '{% trans "Report" %}', "");</script> 
      {% endif %}
    {% endif %}
  </div>
  <div class="body">
    <div class="text"><p>{{ comment.comment|urlize|linebreaks }}</p></div>
  </div>
</div>

<!-- todo: needs a better counter in the index field which survives pagination. Link in index could be removed -->
